{% load static %}
{% load bootstrap4 %}
<div class="container">
  <form method="POST" action="{% url 'imageupload' %}" enctype="multipart/form-data">{% csrf_token %}
      <input type="text" id="title" placeholder="title" name="title"><br>
      <input type="file" id="imgfile" name="imgfile" accept="image/*" onchange="loadFile(this)"><br>
      <input type="date" id="date" name="date"><br>
    <button type="submit" class="btn btn-small" value="제출">제출</button>
  </form>
  <button class="btn"><a href="/">뒤로가기</a></button>
</div>