{% extends 'base.html' %}
{% block content %}
<div class="container px-4 px-lg-5">
  <br>
  <div class="card-title">
    <h2>{{image.title}}</h2>
  </div>
  <div class="row gx-4 gx-lg-5 align-items-center my-5">
    <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0"
                               style="object-fit: fill; width: 100%; height: 500px;"
                               src="https://woojinminwoo-image.s3.ap-northeast-2.amazonaws.com/media/{{ image.imgfile }}" alt="..."/></div>
    <div class="col-lg-5">
      <div class=" m-0 text-center" style=" right-margin:1px; font-size:40px;">
        <span style="color:black;"></span>
        <p style="font-size:40px; text-center;"> {{image.content}} </p>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <a class="btn btn-primary btn-sm" href="/">뒤로가기</a>
    <a class="btn btn-primary btn-sm" href="/imagedelete/{{image.id}}/remove">삭제하기</a>
  </div>
</div>
{% endblock content %}